@media(max-width:1124px){
    .header{
        padding: 4vh 2vw 4vh 2vw;
        position:relative
    }

    .hamburger{
        display: block;
        z-index: 99;
    }
    
    #menu{
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    .header-nav{
        display: flex;
        gap: 15px;
        flex-direction: column;
        background-color: white;
        color: var(--darkGrayshBlue);
        padding: 17vh 4rem;
        width: 50vw;
        height: 100vh;
    }

    .nav-item{
        font-weight: 700;
    }

    .layout{
        display: block;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -11;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .hidden{
        display: none;
    }

    /* main */
    
    main{
        padding: 0 2vw 4vh 2vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 40px;
        grid-template-areas: 
        'main'
        'news'
        'one'
        'two'
        'three';
    }
    
    .main{
        grid-area: main;
    }
    
    .main img{
        width: 100%;
    }
    
    .texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        gap:20px;
    }
    
    .texts h1{
        font-size: 45px;
        line-height: 55px;
        font-weight: 800;
    }
    
    .main-right-texts{
        margin-left: 0;
        gap: 20px;
        
    }
    .main-para{
        font-size: 15px;
        line-height: 26px;
        padding-right: 1rem;
    }
    
    /* bolo sami elemetni */
    
    .bottom-list-item{
        gap: 15px;
    }
    .bottom-list-item img{
        transform: scale(1);
    }
    .bottom-texts{
        display: flex;
        padding: 25px 0;
    }
    
}